# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environment
venv/
.env/
.venv/

# Jupyter
.ipynb_checkpoints/



# =========================
# CMake / C++ build
# =========================
build_cpp/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.dir/
*.vcxproj*
*.sln
*.exe
*.obj
*.pdb

# =========================
# ONNX Runtime binaries
# =========================
onnxruntime-*/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/
*.engine
*.pte